USE [master]
GO
/****** Object:  Database [TaskStudentManagement]    Script Date: 11-03-2024 23:27:56 ******/
CREATE DATABASE [TaskStudentManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskStudentManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskStudentManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskStudentManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskStudentManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskStudentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskStudentManagement]
GO
/****** Object:  Table [dbo].[Student_Table]    Script Date: 11-03-2024 23:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Teacher_id] [int] NULL,
	[FristName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student_Table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_Table]    Script Date: 11-03-2024 23:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FristName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teacher_Table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student_Table] ON 

INSERT [dbo].[Student_Table] ([id], [Teacher_id], [FristName], [LastName], [DateOfBirth], [Gender]) VALUES (3, 1, N'Ankit', N'Shirsath', CAST(N'2023-05-17T00:00:00.000' AS DateTime), N'Male')
INSERT [dbo].[Student_Table] ([id], [Teacher_id], [FristName], [LastName], [DateOfBirth], [Gender]) VALUES (4, 2, N'Gaurav', N'patil', CAST(N'2023-05-09T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Student_Table] ([id], [Teacher_id], [FristName], [LastName], [DateOfBirth], [Gender]) VALUES (5, 1, N'Gaurav', N'patil', CAST(N'2023-05-03T00:00:00.000' AS DateTime), N'Male')
SET IDENTITY_INSERT [dbo].[Student_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher_Table] ON 

INSERT [dbo].[Teacher_Table] ([id], [FristName], [LastName]) VALUES (1, N'Ankit', N'Shirshath')
INSERT [dbo].[Teacher_Table] ([id], [FristName], [LastName]) VALUES (2, N'Himanshu', N'Rajput')
INSERT [dbo].[Teacher_Table] ([id], [FristName], [LastName]) VALUES (3, N'Mahesh ', N'patil')
SET IDENTITY_INSERT [dbo].[Teacher_Table] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_student]    Script Date: 11-03-2024 23:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[sp_student]
as 
begin 
select s.id , s.FristName+s.LastName as [Student Name],DateOfBirth,gender,t.FristName+t.LastName as [Teacher Name] from Student_Table S
inner join Teacher_Table T on
t.id=s.Teacher_id
end

GO
USE [master]
GO
